@model BusScheduling.Models.User

@{
    ViewData["Title"] = "UserAccount";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>User Account</h2>

<div style="background-color:cornflowerblue">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Designation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Designation)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Home" asp-action="EditUser" asp-route-id="@Model.UserId">Edit</a> 
    <br />
    <br />
    <a asp-controller="Home" asp-action="UserLogout"><b>Logout</b></a>
</div>
